# Install torch first
torch==2.0.1
torchvision==0.15.2

# Then detectron2
detectron2 @ git+https://github.com/facebookresearch/detectron2.git

# Rest of the packages
streamlit>=1.30
opencv-python
pycocotools
Pillow
gdown
